//-------------------------------------------------------------
//Table of Contents
//-------------------------------------------------------------
// 1.html and body Setting
// 2.h tag Setting
// 3.ul and ol tag Setting
// 4.a tag Setting
// 4.dl tag Setting
// 5.form tag Setting
// 0.Responsive Setting
//-------------------------------------------------------------
// 1.html and body Setting
//-------------------------------------------------------------
html {
}

body {
    counter-reset: flow;
    font-family: Linotte, YuGothic, "Yu Gothic", "游ゴシック体", "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Roboto, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "MS PGothic", Arial, Helvetica, Verdana, sans-serif !important;
    line-height: 1;
}

//-------------------------------------------------------------
// 2.h tag Setting
//-------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #003a6f;
    font-weight: bold;
    line-height: 1.6;
}

//-------------------------------------------------------------
// 3.ul and ol tag Setting
//-------------------------------------------------------------
ul,
ol {
    list-style: none;
}

ul {
    padding: 0 !important;
}

//-------------------------------------------------------------
// 4.a tag Setting
//-------------------------------------------------------------
a {
    font-weight: bold;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

//-------------------------------------------------------------
// 4.dl tag Setting
//-------------------------------------------------------------
dt {
    color: #003a6f;
    font-size: 22px;
    font-weight: bold;
}

//-------------------------------------------------------------
// 5.form tag Setting
//-------------------------------------------------------------
label {
    cursor: pointer;
}

//-------------------------------------------------------------
// 0.Responsive Setting
//-------------------------------------------------------------
@media screen and (min-width: 415px) {
    body {
        font-size: 18px !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 20px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 414px) {
    body {
        font-size: 16px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }
}