@media screen and (max-width: 414px) {
    //-------------------------------------------------------------
    //Table of Contents
    //-------------------------------------------------------------
    // 1.Import Setting
    // 2.Layout Style
    // 3.Elements Style
    // 4.Preface Style
    // 5.Select Style
    // 6.Notes Style
    //-------------------------------------------------------------
    // 1.Import Setting
    //-------------------------------------------------------------
    //-------------------------------------------------------------
    // 2.Layout Style
    //-------------------------------------------------------------
    .container {
        padding: 10px !important;
    }

    .contentBox {
        padding: 13px;
    }





    //-------------------------------------------------------------
    // 3.Preface Style
    //-------------------------------------------------------------
    .preface {
        section {
            &:nth-child(1) {
            }

            &:nth-child(2) {
                padding: 15px;
            }
        }

        ul {
            margin-bottom: 20px !important;
        }

        .call {
            font-size: 12px !important;
            padding: 10px !important;
            text-align: left !important;

            span {
                font-size: 10vw !important;
                margin-bottom: 5px;
                text-align: center;
            }

            br {
                display: none;
            }
        }
    }

    //-------------------------------------------------------------
    // 5.Select Style
    //-------------------------------------------------------------
    .select {
        padding-bottom: 21px;

        .service {
            flex-wrap: wrap;

            li {
                margin-bottom: 10px;
                width: 100%;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }



    //end-------------------------------------------------------------
}