//-------------------------------------------------------------
//Table of Contents
//-------------------------------------------------------------
// 1.Import Setting
// 2.Layout Style
// 3.Elements Style
// 4.Preface Style
// 5.Select Style
// 6.Notes Style
// 7.Thanks Style
// 8.Cancel Style
// 9.Not Found Style
//-------------------------------------------------------------
// 1.Import Setting
//-------------------------------------------------------------
@charset "utf-8";
// Definitions
@import "_mixins.scss"; // 関数定義
// Initial Setting
@import "_ress.scss"; // リセットCSS
@import "_basic.scss"; // 基本設定
// responsive
@import "_pc.scss"; //min-width:769px
@import "_tablet.scss"; //max-width:768px
@import "_sp.scss"; //max-width:414px

//-------------------------------------------------------------
// 2.Layout Style
//-------------------------------------------------------------
body {
    background: #f7f6f6;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1080px;
}

.main {
    @extend .container;
}

.header {
    background: #fff;
    border-bottom: solid 10px #ededed;

    .title {
        color: #003a6f;

@extend .container;

@include fontS(22);
    }
}

.contentBox {
    background: #fff;
    border: solid 2px #3297cd;
    border-radius: 10px;
}

//-------------------------------------------------------------
// 3.Elements Style
//-------------------------------------------------------------
.radio {
    label {
        background: #f0f8fe;
        border: solid 1px #3297cd;
        border-radius: 10px;
        color: #3297cd;
        display: block;
        font-weight: bold;
        padding: 10px 0;
        text-align: center;
    }

    input {
        opacity: 0;
        position: absolute;
    }

    input[type="radio"]:checked + label {
        background: #3297cd;
        color: #fff;
    }
}

.check {
    span {
        color: #ce0057;
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.point {
    color: #ce0057;
    font-weight: bold;
}

.calendar_close {
    background: #f7f6f6 !important;
    color: #cdd6dd !important;
    cursor: not-allowed;
    pointer-events: none;
    position: relative;

    &:before,
    &:after {
        //
        background: #003a6f;
        content: "";
        height: 3px;
        left: 50%;
        margin-left: -20px;
        position: absolute;
        top: 50%;
        width: 40px;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

.calendar_circle {
    background: rgba(206, 0, 87, .15);
    position: relative;

    &:before {
        border: solid 4px #ce0057;
        border-radius: 50%;
        content: "";
        height: 30px;
        left: 50%;
        margin: -15px 0 0 -15px;
        position: absolute;
        top: 50%;
        width: 30px;
    }
}

.call {
    background: #6ab654;
    border-radius: 10px;
    box-shadow: 0 10px 0 #447a34;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;

    &:hover {
        bottom: -10px;
        box-shadow: none;
        position: relative;
    }

    span {
        display: block;
        font-size: 40px;
        line-height: 1;
    }
}

//-------------------------------------------------------------
// 4.Preface Style
//-------------------------------------------------------------
.preface {
    display: flex;

    section {
        @extend .contentBox;

        &:nth-child(1) {
            position: relative;

            &:before {
                border-color: #3297cd transparent transparent transparent;
                border-style: solid;
                border-width: 42px 25px 0 25px;
                bottom: -44px;
                content: "";
                left: 50%;
                margin-left: -22px;
                position: absolute;
            }

            &:after {
                border-color: #fff transparent transparent transparent;
                border-style: solid;
                border-width: 40px 23px 0 23px;
                bottom: -40px;
                content: "";
                left: 50%;
                margin-left: -20px;
                position: absolute;
            }
        }

        &:nth-child(2) {
            border: none;
        }
    }

    ul {
        margin-bottom: 40px;

        li {
            padding-left: 20px;
            position: relative;

            &:before {
                background: #003a6f;
                border-radius: 4px;
                content: "";
                display: block;
                height: 8px;
                left: 0;
                margin-top: -4px;
                position: absolute;
                top: 50%;
                width: 8px;
            }
        }
    }

    .text {
        background: #f0f8fe;
        color: #3297cd;
        display: block;
        font-weight: bold;
        text-align: center;
    }
}

//-------------------------------------------------------------
// 5.Select Style
//-------------------------------------------------------------
.select {
    @extend .contentBox;

    h2 a {
        display: block;
    }
}

.service {
    display: flex;
    flex-wrap: wrap;

    li {
        @extend .radio;
        position: relative;
    }

    label {
        margin: 0;
    }
}

.input {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
    position: relative;
    width: 100%;

    input[type="text"],
    textarea {
        background: #f0f8fe;
        border: solid 1px #3297cd;
        border-radius: 5px;
        box-sizing: border-box;
        height: 50px;
        padding-left: 10px;
        width: 100%;
    }

    textarea {
        height: 200px;
        padding: 10px;
    }

    label {
        align-items: center;
        display: flex;
        font-weight: bold;
        height: 100%;
        line-height: 1;
        padding-left: 10px;
        pointer-events: none;
        position: absolute;
        top: 0;
        transform: translateY(0);
        transition: all .15s;
        width: 100%;

        span {
            &:nth-child(1) {
                position: relative;
                width: 100px;

                &:after {
                    content: "：";
                    position: absolute;
                    right: 0;
                }
            }

            &:nth-child(2) {
                color: #bbc7d2;
                font-weight: normal;
            }
        }
    }

    input:focus + label,
    textarea:focus + label,
    &.entered label {
        font-size: 14px;
        height: auto;
        padding-left: 0;
        position: absolute;
        text-shadow: #fff 2px 0, #fff -2px 0, #fff 0 -2px, #fff 0 2px, #fff 2px 2px, #fff -2px 2px, #fff 2px -2px, #fff -2px -2px, #fff 1px 2px, #fff -1px 2px, #fff 1px -2px, #fff -1px -2px, #fff 2px 1px, #fff -2px 1px, #fff 2px -1px, #fff -2px -1px;
        top: -6px;

        span {
            &:nth-child(1) {
                &:after {
                    content: none;
                }
            }

            &:nth-child(2) {
                display: none;
            }
        }
    }

    &.adddress.entered label span:nth-child(1) {
        width: 100%;

        &:after {
            color: #ce0057;
            content: "※丁目・番地・建物名・部屋番号までご入力ください";
            position: relative;
            right: auto;
        }
    }

    &.required:after {
        align-items: center;
        background: #ce0057;
        border-radius: 5px;
        color: #fff;
        content: "必須";
        display: flex;
        font-size: 14px;
        font-weight: bold;
        height: 26px;
        justify-content: center;
        position: absolute;
        right: 10px;
        top: 12px;
        width: 40px;
    }
}

.calendar {
    h3 {
        margin-bottom: 0;
    }

    .notes {
        margin: 0 0 20px;
    }

    .nav {
        align-items: center;
        display: flex;
        font-weight: bold;
        justify-content: space-between;
        margin-bottom: 20px;

        &:before,
        &:after {
            content: none;
        }

        button {
            background: #3297cd;
            border-radius: 5px;
            color: #fff;
            display: block;
            position: relative;
        }

        div {
            font-size: 22px;
        }
    }

    table {
        border: solid 1px #3297cd;
        border-collapse: separate;
        border-radius: 5px;
        border-spacing: 0;
        font-size: 22px;
        font-weight: bold;
        width: 100%;
    }

    th {
        border-right: solid 1px #3297cd;
        padding: 10px 0;
        text-align: center;

        &:nth-child(1) {
            color: #ce0057;
        }

        &:nth-child(7) {
            border: none;
            color: #3297cd;
        }
    }

    td {
        border-right: solid 1px #3297cd;
        border-top: solid 1px #3297cd;
        cursor: pointer;
        padding: 10px 0;
        position: relative;
        text-align: center;

        &:nth-child(1) {
            color: #ce0057;
        }

        &:nth-child(7) {
            border-right: none;
            color: #3297cd;
        }

        &.calendar_today {
            span {
                color: #6ab654;
                display: block;
                height: 100%;
                width: 100%;

                &:before {
                    border-color: #6ab654 transparent transparent transparent;
                    border-style: solid;
                    border-width: 40px 40px 0 0;
                    content: "";
                    left: 0;
                    position: absolute;
                    top: 0;
                    z-index: 1;
                }

                &:after {
                    color: #fff;
                    content: "本日";
                    display: block;
                    font-size: 12px;
                    font-weight: bold;
                    left: 0;
                    position: absolute;
                    top: 3px;
                    transform: rotate(-45deg);
                    z-index: 2;
                }
            }
        }
    }
}

.time {
    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        cursor: pointer;

@extend .radio;
    }
}

.submit {
    align-items: center;
    background: #6ab654;
    border-radius: 10px;
    box-shadow: 0 8px 0 #447a34;
    color: #fff;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    height: 80px;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;

    &:hover {
        bottom: -8px;
        box-shadow: none;
        position: relative;
    }
}

.codeInput {
    background: #3297cd;
    box-shadow: 0 5px 0 #0859aa;

@extend .submit;
    font-size: 16px;
    height: 50px;
    margin: 0 0 25px;
}

.phone_error {
    color: red;
    display: none;
    // padding-top: 6px;
    // padding-left: 10px;
}

//-------------------------------------------------------------
// 6.Notes Style
//-------------------------------------------------------------
.notes {
    h2 {
    }

    dl {
        border-top: solid 1px #bbc7d2;
        display: flex;
        flex-wrap: wrap;
    }
}

//-------------------------------------------------------------
// 7.Thanks Style
//-------------------------------------------------------------
.thanks {
    @extend .contentBox;

    p {
        line-height: 2;
        margin-bottom: 20px;
    }
}

.cancel_page_error {
    color: red;
    display: none;
}

//-------------------------------------------------------------
// 8.Cancel Style
//-------------------------------------------------------------
.cancel {
    @extend .contentBox;

    h2 {
        &:first-child {
            margin-top: 0;
        }
    }


    .get {
        @extend .codeInput;
        height: 45px !important;
        width: 140px !important;
    }

    dl {
        margin-bottom: 30px;
    }

    dt {
        font-size: 20px;
    }

    dd {
        border-bottom: solid 1px #3297cd;
    }

    .cancelButton {
        background: #ce0057;
        box-shadow: 0 8px #8c003b;

@extend .submit;

        &:hover {
            box-shadow: none;
        }
    }
}

//-------------------------------------------------------------
// 9.Not Found Style
//-------------------------------------------------------------
.notFound {
    text-align: center;

    h2 {
        span {
            display: block;
        }
    }

    p {
        line-height: 2;

        &:last-child {
            margin: 28px 0 0;
        }
    }

    .call {
        margin: 30px auto 0;
        max-width: 400px;
    }
}
