body {
    counter-reset: flow;
    font-family: Linotte, YuGothic, "Yu Gothic", "游ゴシック体", "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Roboto, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "MS PGothic", Arial, Helvetica, Verdana, sans-serif !important;
    line-height: 1
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #003a6f;
    font-weight: bold;
    line-height: 1.6
}

ul,
ol {
    list-style: none
}

ul {
    padding: 0 !important
}

a {
    font-weight: bold;
    text-decoration: underline
}

a:hover {
    text-decoration: none
}

dt {
    color: #003a6f;
    font-size: 22px;
    font-weight: bold
}

label {
    cursor: pointer
}

@media screen and (min-width: 415px) {
    body {
        font-size: 18px
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 20px
    }
    h1 {
        font-size: 30px
    }
    h2 {
        font-size: 24px
    }
    h3 {
        font-size: 20px
    }
    h4 {
        font-size: 20px
    }
}

@media screen and (max-width: 414px) {
    body {
        font-size: 16px
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 10px
    }
    h1 {
        font-size: 24px
    }
    h2 {
        font-size: 20px
    }
}