@media screen and (min-width: 769px) {
    //-------------------------------------------------------------
    //Table of Contents
    //-------------------------------------------------------------
    // 1.Import Setting
    // 2.Layout Style
    // 3.Elements Style
    // 4.Preface Style
    // 5.Select Style
    // 6.Notes Style
    //-------------------------------------------------------------
    // 1.Import Setting
    //-------------------------------------------------------------
    //-------------------------------------------------------------
    // 2.Layout Style
    //-------------------------------------------------------------
    .container {
        padding: 40px;
    }

    .contentBox {
        padding: 38px;
    }

    //-------------------------------------------------------------
    // 3.Elements Style
    //-------------------------------------------------------------
    .check {
        margin: 40px 0;
    }

    //-------------------------------------------------------------
    // 4.Preface Style
    //-------------------------------------------------------------
    .preface {
        justify-content: space-between;
        margin: 40px 0;

        section {
            width: calc(50% - 20px);

            &:nth-child(1) {
            }

            &:nth-child(2) {
                padding: 40px;
            }
        }

        .text {
            font-size: 22px;
            padding: 20px 0;
        }
    }

    //-------------------------------------------------------------
    // 5.Select Style
    //-------------------------------------------------------------
    .select {
        section {
            margin-top: 40px;
        }

        h2 a {
            font-size: 18px;
        }

        .service {
            margin-left: -5px;
            width: calc(100% + 10px);

            li {
                margin: 0 5px 10px;
                width: calc((100% - 70px) / 4);
            }
        }
    }

    .calendar {
        .nav {
            button {
                &.back:before,
                &.next:after {
                    content: "";
                    height: 13px;
                    margin-top: -6px;
                    position: absolute;
                    top: 50%;
                    width: 13px;
                }

                &.back {
                    padding: 5px 10px 5px 30px;

                    &:before {
                        border-left: solid 4px #fff;
                        border-top: solid 4px #fff;
                        left: 10px;
                        transform: rotate(-45deg);
                        width: 13px;
                    }
                }

                &.next {
                    padding: 5px 30px 5px 10px;

                    &:after {
                        border-right: solid 4px #fff;
                        border-top: solid 4px #fff;
                        right: 10px;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }

    .time {
        li {
            width: calc((100% - 30px) / 4);
        }

        span {
            &:before {
                content: "（";
            }

            &:after {
                content: "）";
            }
        }
    }

    //-------------------------------------------------------------
    // 6.Notes Style
    //-------------------------------------------------------------
    .notes {
        margin-top: 40px;

        dl {
            display: flex;
            flex-wrap: wrap;
        }

        dt {
            border-bottom: solid 1px #bbc7d2;
            font-weight: bold;
            padding: 40px 0;
            width: 20%;
        }

        dd {
            border-bottom: solid 1px #bbc7d2;
            padding: 40px 0;
            width: 80%;
        }
    }

    //-------------------------------------------------------------
    // 8.Cancel Style
    //-------------------------------------------------------------
    .cancel {
        .input {
            justify-content: space-between;

            input {
                width: calc(100% - 150px) !important;
            }
        }


        dl {
            display: flex;
            flex-wrap: wrap;
        }

        dt {
            padding: 10px 0;
            width: 200px;
        }

        dd {
            padding: 10px 0;
            width: calc(100% - 200px);
        }
    }






    //end-------------------------------------------------------------
}
