@media screen and (max-width: 768px) {
    //-------------------------------------------------------------
    //Table of Contents
    //-------------------------------------------------------------
    // 1.Import Setting
    // 2.Layout Style
    // 3.Elements Style
    // 4.Preface Style
    // 5.Select Style
    // 6.Notes Style
    //-------------------------------------------------------------
    // 1.Import Setting
    //-------------------------------------------------------------
    //-------------------------------------------------------------
    // 2.Layout Style
    //-------------------------------------------------------------
    .container {
        padding: 20px !important;
    }

    .contentBox {
        padding: 18px;
    }

    //-------------------------------------------------------------
    // 3.Elements Style
    //-------------------------------------------------------------
    .check {
        margin: 20px 0;
    }

    //-------------------------------------------------------------
    // 3.Preface Style
    //-------------------------------------------------------------
    .preface {
        flex-wrap: wrap;

        section {
            margin-bottom: 20px;
            width: 100%;

            &:nth-child(1) {
                order: 2;
            }

            &:nth-child(2) {
                order: 1;
                padding: 20px;
            }
        }

        .text {
            font-size: 18px;
            padding: 10px 0;
        }
    }

    //-------------------------------------------------------------
    // 5.Select Style
    //-------------------------------------------------------------
    .select {
        padding-bottom: 26px;

        section {
            margin-top: 20px;
        }

        h2 a {
            font-size: 14px;
        }
    }

    .service {
        margin-left: -5px;
        width: calc(100% + 10px);

        li {
            margin: 0 5px 10px;
            width: calc((100% - 30px) / 3);
        }
    }

    .calendar {
        .nav {
            button {
                padding: 5px 10px;
            }
        }
    }

    .time {
        ul {
            flex-wrap: wrap;
        }

        li {
            margin-bottom: 10px;
            width: calc((100% - 10px) / 2);
        }

        span {
            display: block;
        }
    }

    //-------------------------------------------------------------
    // 6.Notes Style
    //-------------------------------------------------------------
    .notes {
        margin-top: 20px;
    }

    //-------------------------------------------------------------
    // 8.Cancel Style
    //-------------------------------------------------------------
    .cancel {
        .get {
            margin: 20px auto 0 !important;
        }

        dd {
            margin-bottom: 10px;
        }
    }

    //end-------------------------------------------------------------
}